RewriteEngine on
Options +FollowSymlinks
Options -Indexes

<IfModule mod_rewrite.c>
  RedirectMatch 404 /\\.svn(/|$)
  RewriteRule ^(.*)\.[\d]+\.(css|js)$ $1.$2 		[L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule ^(.*)$ 			index.php			[L,NC]
</IfModule>

# 480 weeks
#<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
<FilesMatch "\.(pdf|js|css|swf)$">
	Header set Cache-Control "max-age=290304000, public"
</FilesMatch>

# Or, compress certain file types by extension:
<FilesMatch "\.(html|css|js|php|xml)$">
SetOutputFilter DEFLATE
</FilesMatch>